.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.display{
  display: none;
}
.display2{
  display: none;
}
.display3{
  display: none;
}
body{
  background-image: url(../img/calc2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
